.container {
    display: flex;
}

.centerAll {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
}

.centerHori {
    text-align: left;
}

.centerButtons {
    display: block;
    margin-left: 5%;
    margin-right: auto;
    width: 30%;
    height: 20%;
    max-width: 250px;
}